name: Run Tests
on:
  pull_request:
    branches:
      - main
    paths:
      - 'dist/**'
      - 'action.yml'
  push:
    branches:
      - main
    paths:
      - 'dist/**'
      - 'action.yml'
  workflow_dispatch:

permissions:
  contents: read
  models: read

jobs:
  test-action-prompt:
    name: Simple Test with Prompt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test action
        id: test
        uses: ./
        with:
          prompt: 'What is the meaning of life?'

  test-action-full-features:
    name: Test Action full feature set
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test action with Vars and Response Schema
        id: country-test
        uses: ./
        with:
          system-prompt-file: '__tests__/prompts/provide-direct-answers.md'
          prompt-file: '__tests__/prompts/country-capital-prompt.md'
          vars: |
            country: Great Britain
          response-schema-file: __tests__/schemas/country-capital-response.json

      - name: Check answer contains "London"
        id: keyphrase-check
        uses: skills/action-keyphrase-checker@7f463836f6c105e85a182487ae4b628ff61cb904 # v1.1.0
        with:
          text: ${{ fromJSON(steps.country-test.outputs.text).capital }}
          keyphrase: 'London'
          case-sensitive: false
          minimum-occurrences: 1
          maximum-occurrences: 1
